/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 20px;

width: 660px;
height: 260px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 25 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 660px;
height: 174px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 14 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 660px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Службы доставки: */

width: 660px;
height: 30px;

font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */
text-transform: uppercase;

color: #2F2F2F;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 22 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 14px;
isolation: isolate;

width: 660px;
height: 128px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Line 16 */

width: 660px;
height: 0px;

border: 1px solid rgba(0, 0, 0, 0.2);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Frame 24 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 660px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Яндекс доставка в пункт выдачи 300 р. */

width: 660px;
height: 22px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-transform: uppercase;

color: #2F2F2F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Line 17 */

width: 660px;
height: 0px;

border: 1px solid rgba(0, 0, 0, 0.2);

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Frame 23 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
isolation: isolate;

width: 660px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
z-index: 3;


/* СДЭК в пункт выдачи 500 р. */

width: 660px;
height: 22px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-transform: uppercase;

color: #2F2F2F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;
z-index: 0;


/* image 12 */

position: absolute;
width: 68px;
height: 18.38px;
left: 533px;
top: 9px;

background: url(image.png);
opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Line 18 */

width: 660px;
height: 0px;

border: 1px solid rgba(0, 0, 0, 0.2);

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
z-index: 4;


/* image 11 */

position: absolute;
width: 99.14px;
height: 20.22px;
left: 502px;
top: 22px;

background: url(image.png);
opacity: 0.8;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Frame 27 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 660px;
height: 66px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* После отправки заказа на ваши контактные данные, указанные при оформлении заказа, приходит трек-номер посылки.  */

width: 597px;
height: 66px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;

color: #2F2F2F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
